* {
    margin: 0;
    padding: 0;
}

.waterfall-item {
    padding: 1.5px;
    background-color: rgba(181, 192, 182, 0.70);
    width: 200px;
    border-radius: 7px 7px 12px 12px;
    box-shadow: 2.5px 2.5px 5px #A39999;
}

.content-image {
    width: 200px;
    height: auto;
    border-radius: 7px 7px 5px 5px;
    float: left;
}

.suspension-box {
    display: none;
    float: left;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(to top, #312828, #544444, rgba(130, 122, 122, 0.41) 80%, rgba(0, 0, 0, 0) 100%);
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
}

.suspension-box p {
    color: #C5BBBB;
    line-height: 18px;
    font-size: 14px;
}

.introduce-box {
    clear: both;
    margin-left: 15px;
    margin-bottom: 5px;
}

.introduce-box h4 {
    color: #423D3D;
    margin-bottom: 5px;
}

.introduce-box p {
    margin-left: 8px;
    font-size: 14px;
    color: #4E4E54;
    line-height: 18px;
}
